In [1]:
import pandas as pd
import datetime
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
import time
from webdriver_manager.chrome import ChromeDriverManager

In [8]:

driver = GetDriver()
page_num = 1
url = 'https://www.linkedin.com/jobs/data-scientist-jobs-united-states?location=United%20States&pageNum=1&locationId=us%3A0&keywords=data%20scientist&position=1&start={page_num}&count=25&trk=jobs_jserp_pagination_2'.format(page_num = page_num*25)
driver.get(url)
session_ids.append(driver.session_id)
print(driver.session_id)

'

Checking for mac64 chromedriver:74.0.3729.6 in cache
Driver found in /Users/will/.wdm/chromedriver/74.0.3729.6/mac64/chromedriver
a048634b20210cd24261e0455a801b5d

In [7]:
def GetDriver():
    return webdriver.Chrome(ChromeDriverManager().install())

def ScrapeJobData(job_num_on_page, driver):
    try:
        x = '/html/body/main/div[2]/div/div[2]/ul/li[{job_num_on_page}]/a'.format(job_num_on_page=job_num_on_page)
        xp = driver.find_element_by_xpath(x)
        new_url = xp.get_attribute('href')
        driver.get(new_url)
    except:
        print("site didn't match", driver.session_id)
        session_ids.append(driver.session_id)
        if len(set(session_ids)) > 1000:
            print('exceeded max number of session attempts')
            return None

        else:
            driver.close()
#             driver.delete_all_cookies()
            driver = GetDriver()
            ScrapeJobData(job_num_on_page, driver)
        
    try:
        job_title = driver.find_element_by_xpath('/html/body/main/section[3]/div[1]/section[1]/div/div[1]/h1').text
    except:
        job_title = None
    try:
        company_name = driver.find_element_by_xpath('/html/body/main/section[3]/div[1]/section[1]/div/div[1]/h3[1]/span[1]/a').text
    except:
        company_name = None
    try:
        location = driver.find_element_by_xpath('/html/body/main/section[3]/div[1]/section[1]/div/div[1]/h3[1]/span[2]').text
    except:
        location = None
    
    full_header = driver.find_element_by_xpath('/html/body/main/section[3]/div[1]/section[1]/div/div[1]').text

    job_dictionary = {'job_title': job_title
                     , 'company_name': company_name
                     , 'location': location 
                     , 'full_header': full_header
                     , 'job_posting_url' : new_url
                     }

    i = 1
    summary_data = ''
    result = ''
    while result is not None:
        try:
            summary_data = '/html/body/main/section[3]/div[1]/section[2]/ul/li[{}]'.format(i)
            result = driver.find_element_by_xpath(summary_data).text.split('\n')
            job_dictionary.update({result[0] : result[1]})
            i += 1
        except:
            result = None

    desc_1 = driver.find_element_by_xpath("/html/body/main/section[3]/div[1]/section[2]")
    job_dictionary.update({'description' : desc_1.text, 'run_date': str(datetime.datetime.now())})
    job_dictionary_df = pd.DataFrame(job_dictionary, index=[job_num_on_page])
    return job_dictionary_df

        

master_df = pd.DataFrame(columns=['job_title', 'company_name', 'location', 'Seniority level', 'Employment type', 'Job function', 'Industries', 'description', 'full_header','run_date', 'job_posting_url'])
delay = 4       
driver = GetDriver()
page_num_end = 40 
session_ids = []

for page_num in range(0, page_num_end):
    url = 'https://www.linkedin.com/jobs/data-scientist-jobs-united-states?location=United%20States&pageNum=1&locationId=us%3A0&keywords=data%20scientist&position=1&start={page_num}&count=25&trk=jobs_jserp_pagination_2'.format(page_num = page_num*25)
    driver.get(url)
    session_ids.append(driver.session_id)
    print(driver.session_id)

    for i in range(1, 25):
        master_df = pd.concat([master_df, ScrapeJobData(i, driver)], sort=True)
        driver.back()
        WebDriverWait(driver, delay)
    WebDriverWait(driver, 10)

master_df = master_df.reset_index(drop=True)
master_df.to_csv('ds_jobs_{}.csv'.format((str(datetime.datetime.today())[:10]).replace("-", "_")))

Checking for mac64 chromedriver:74.0.3729.6 in cache
Driver found in /Users/will/.wdm/chromedriver/74.0.3729.6/mac64/chromedriver
a5e044730599341d0155225db04f0445
site didn't match a5e044730599341d0155225db04f0445

Exception ignored in: <function Service.__del__ at 0x1154c7a60>
Traceback (most recent call last):
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/common/service.py", line 176, in __del__
    self.stop()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/common/service.py", line 151, in stop
    self.send_remote_shutdown_command()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/common/service.py", line 127, in send_remote_shutdown_command
    url_request.urlopen("%s/shutdown" % self.service_url)
  File "/Users/will/anaconda3/lib/python3.7/urllib/request.py", line 222, in urlopen
    return opener.open(url, data, timeout)
  File "/Users/will/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/Users/will/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/Users/will/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/Users/will/anaconda3/lib/python3.7/urllib/request.py", line 1345, in http_open
    return self.do_open(http.client.HTTPConnection, req)
  File "/Users/will/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/Users/will/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
KeyboardInterrupt:
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "<ipython-input-7-7a1b4907125f>", line 7, in ScrapeJobData
    xp = driver.find_element_by_xpath(x)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/remote/webdriver.py", line 394, in find_element_by_xpath
    return self.find_element(by=By.XPATH, value=xpath)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/remote/webdriver.py", line 978, in find_element
    'value': value})['value']
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/remote/webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/selenium/webdriver/remote/errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/main/div[2]/div/div[2]/ul/li[1]/a"}
  (Session info: chrome=74.0.3729.169)
  (Driver info: chromedriver=74.0.3729.6 (255758eccf3d244491b8a1317aa76e1ce10d57e9-refs/branch-heads/3729@{#29}),platform=Mac OS X 10.14.3 x86_64)


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/will/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-7-7a1b4907125f>", line 77, in <module>
    master_df = pd.concat([master_df, ScrapeJobData(i, driver)], sort=True)
  File "<ipython-input-7-7a1b4907125f>", line 20, in ScrapeJobData
    driver = GetDriver()
  File "<ipython-input-7-7a1b4907125f>", line 2, in GetDriver
    return webdriver.Chrome(ChromeDriverManager().install())
  File "/Users/will/anaconda3/lib/python3.7/site-packages/webdriver_manager/chrome.py", line 19, in install
    bin_file = self._file_manager.download_driver(self.driver, path)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/webdriver_manager/cache.py", line 70, in download_driver
    cached_binary = self.get_cached_binary(driver, path)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/webdriver_manager/cache.py", line 38, in get_cached_binary
    version = driver.get_version()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/webdriver_manager/driver.py", line 34, in get_version
    return self.get_latest_release_version()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/webdriver_manager/driver.py", line 49, in get_latest_release_version
    file = requests.get(self.config.driver_latest_release_url)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/requests/api.py", line 75, in get
    return request('get', url, params=params, **kwargs)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/requests/api.py", line 60, in request
    return session.request(method=method, url=url, **kwargs)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/requests/sessions.py", line 533, in request
    resp = self.send(prep, **send_kwargs)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/requests/sessions.py", line 646, in send
    r = adapter.send(request, **kwargs)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/requests/adapters.py", line 449, in send
    timeout=timeout
  File "/Users/will/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py", line 354, in _make_request
    conn.request(method, url, **httplib_request_kw)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/Users/will/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/urllib3/connection.py", line 181, in connect
    conn = self._new_conn()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/urllib3/connection.py", line 159, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/urllib3/util/connection.py", line 70, in create_connection
    sock.connect(sa)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/will/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/will/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/will/anaconda3/lib/python3.7/inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/will/anaconda3/lib/python3.7/inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/will/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/will/anaconda3/lib/python3.7/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/Users/will/anaconda3/lib/python3.7/site-packages/py/_vendored_packages/apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/py/_vendored_packages/apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/py/_vendored_packages/apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pytest.py", line 8, in <module>
    from _pytest.config import cmdline
  File "/Users/will/anaconda3/lib/python3.7/site-packages/_pytest/config/__init__.py", line 17, in <module>
    from pkg_resources import parse_version
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 3126, in <module>
    @_call_aside
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 3110, in _call_aside
    f(*args, **kwargs)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 3139, in _initialize_master_working_set
    working_set = WorkingSet._build_master()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 572, in _build_master
    ws = cls()
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 565, in __init__
    self.add_entry(entry)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 621, in add_entry
    for dist in find_distributions(entry, True):
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 1964, in find_on_path
    path_item_entries = _by_version_descending(filtered)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 1937, in _by_version_descending
    return sorted(names, key=_by_version, reverse=True)

  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 1960, in <genexpr>
    if dist_factory(path_item, entry, only)
  File "/Users/will/anaconda3/lib/python3.7/site-packages/pkg_resources/__init__.py", line 1977, in dist_factory
    is_meta = any(map(lower.endswith, ('.egg-info', '.dist-info')))
KeyboardInterrupt

TypeError: can only concatenate str (not "list") to str

In [6]:
master_df

,Employment type,Industries,Job function,Seniority level,company_name,description,full_header,job_posting_url,job_title,location,run_date
1,Full-time,Entertainment,Other,Mid-Senior level,VelvetJobs,Job description\nData Scientist - League of Le...,"Data Scientist\nVelvetJobsLos Angeles, CA, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Los Angeles, CA, US",2019-05-21 06:24:24.846196
2,Full-time,Computer Software,EngineeringInformation Technology,Entry level,Eversight,Job description\nThe Opportunity\n\nEversight ...,"Data Scientist\nEversightPalo Alto, CA, US\n1 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Palo Alto, CA, US",2019-05-21 06:24:26.888452
3,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Life Sciences,Job description\nJob Description\nJob #: 9525...,"Data Scientist\nApex Life SciencesSugar Land, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Sugar Land, TX, US",2019-05-21 06:24:28.554995
4,Full-time,Internet,EngineeringInformation Technology,Entry level,Bixal,Job description\nWho We Are\n\nBixal uses stra...,"Data Scientist\nBixalWashington, D.C., DC, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-21 06:24:30.234788
5,Full-time,Marketing and AdvertisingComputer SoftwareInte...,EngineeringInformation Technology,Entry level,Origin Multilingual -Europe's Leading Language...,"Job description\nBeeswax, named by Business In...",Data Scientist\nOrigin Multilingual -Europe's ...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-21 06:24:32.020498
6,Full-time,Consumer ElectronicsInternetResearch,EngineeringInformation TechnologyResearch,Mid-Senior level,Samsung Electronics America,Job description\nData Scientist (Home Applianc...,Data Scientist\nSamsung Electronics AmericaPla...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Plano, Texas",2019-05-21 06:24:33.703668
7,Full-time,Information Technology and Services,Information Technology,Mid-Senior level,zData Inc. - an atos business,Job description\nzData Inc is taking Big Data ...,Big Data DevOps Engineer\nzData Inc. - an atos...,https://www.linkedin.com/jobs/view/big-data-de...,Big Data DevOps Engineer,"East Rutherford, New Jersey",2019-05-21 06:24:35.558515
8,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Systems,Job description\nJob Description\n\nJob #: 952...,"Data Scientist\nApex SystemsSugar Land, TX, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Sugar Land, TX, US",2019-05-21 06:24:37.274049
9,Full-time,Marketing and Advertising,MarketingScienceInformation Technology,Mid-Senior level,Branded Entertainment Network,Job description\nWho YOU Are\nDo you instincti...,Senior Data Scientist\nBranded Entertainment N...,https://www.linkedin.com/jobs/view/senior-data...,Senior Data Scientist,"Provo, Utah",2019-05-21 06:24:38.879946
10,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Dovel Technologies,"Job description\nDovel Technologies, LLC provi...","Data Scientist\nDovel TechnologiesMcLean, VA, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"McLean, VA, US",2019-05-21 06:24:40.584938
11,Full-time,Information Technology and ServicesComputer So...,ResearchAnalystEngineering,Entry level,Walmart,Job description\nPosition Description\n\nThe @...,"Staff Data Scientist\nWalmartSunnyvale, CA, US...",https://www.linkedin.com/jobs/view/staff-data-...,Staff Data Scientist,"Sunnyvale, CA, US",2019-05-21 06:24:42.291263
12,Full-time,Information Technology and ServicesConsumer Go...,EngineeringInformation Technology,Not Applicable,Aditya Birla Group,Job description\nJob Description\n\nNovelis is...,"Data Scientist\nAditya Birla GroupAtlanta, GA,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Atlanta, GA, US",2019-05-21 06:24:43.982507
13,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Nautilus Labs,Job description\nAbout Nautilus.\n\nNautilus i...,"Data Scientist\nNautilus LabsNew York City, NY...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-21 06:24:45.910194
14,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,KOGNETICS,Job description\nExcellent knowledge of at lea...,"Data Scientist\nKOGNETICSColumbus, OH, US\n4 w...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Columbus, OH, US",2019-05-21 06:24:47.651898
15,Full-time,Computer Software,EngineeringInformation Technology,Entry level,Retina AI,"Job description\nAt Retina, we enable business...","Data Scientist\nRetina AISanta Monica, CA, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Santa Monica, CA, US",2019-05-21 06:24:49.373336
16,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Resideo,Job description\nJob Description\n\nResideo is...,"Data Scientist\nResideoSanta Cruz, CA, US\n3 w...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Santa Cruz, CA, US",2019-05-21 06:24:51.301674
17,Full-time,Marketing and AdvertisingInformation Technolog...,EngineeringInformation Technology,Entry level,Ledgent Technology,Job description\nJob Description\n\nSeeking a ...,"Data Scientist\nLedgent TechnologyIrvine, CA, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Irvine, CA, US",2019-05-21 06:24:53.040162
18,Full-time,Biotechnology,EngineeringInformation Technology,Entry level,M SCIENCE LIMITED,Job description\nJob Description\n\nWe are loo...,"Data Scientist\nM SCIENCE LIMITEDPortland, OR,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Portland, OR, US",2019-05-21 06:24:54.748831
19,Full-time,Internet,EngineeringInformation Technology,Entry level,Bixal,Job description\nWho We Are\n\nBixal uses stra...,"Data Scientist\nBixalWashington, D.C., DC, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-21 06:24:56.533399
20,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,wow,Job description\nData Scientist\nThe Data Scie...,"Data Scientist\nwowDenver, CO, US\n1 month ago...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Denver, CO, US",2019-05-21 06:24:58.335313
21,Full-time,Information Technology and Services,Project ManagementEngineering,Mid-Senior level,Optomi,Job description\nPassionate about using data t...,Data Scientist\nOptomiGreater Los Angeles Area...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater Los Angeles Area,2019-05-21 06:25:00.168976
22,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,Alaka`ina Foundation Family of Companies,"Job description\nKe`aki Technologies LLC, is a...",Data Scientist\nAlaka`ina Foundation Family of...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Antonio, TX, US",2019-05-21 06:25:02.168501
23,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,tdmk - TU DEPARTAMENTO DE MARKETING,Job description\nJoin TDMK Digital on an innov...,Data Scientist\ntdmk - TU DEPARTAMENTO DE MARK...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Boston, MA, US",2019-05-21 06:25:04.443914
24,Full-time,Information Technology and ServicesUtilitiesFi...,EngineeringInformation Technology,Entry level,Southern California Edison (SCE),Job description\nJob Description\n\nENERGY FOR...,Data Scientist\nSouthern California Edison (SC...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Irvine, CA, US",2019-05-21 06:25:06.282640
1,Full-time,InsuranceRetailFinancial Services,EngineeringInformation Technology,Entry level,TitleMax,Job description\nJob Description\n\nThe Data S...,"Data Scientist\nTitleMaxDallas, TX, US\n1 mont...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Dallas, TX, US",2019-05-21 06:25:09.552379
2,Full-time,Machinery,Information TechnologyAnalyst,Associate,John Deere,Job description\nThere are 7 billion people on...,"Data Scientist\nJohn DeereJohnston, Iowa, Unit...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Johnston, Iowa, United States",2019-05-21 06:25:11.268536
3,Full-time,Financial ServicesInsuranceInvestment Management,Other,Not Applicable,Transamerica,Job description\nJob Description Summary\n\nAs...,"Data Scientist\nTransamericaDenver, CO, US\n3 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Denver, CO, US",2019-05-21 06:25:13.126801
4,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Systems,Job description\nJob Description\n\nJob #: 952...,"Data Scientist\nApex SystemsSugar Land, TX, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Sugar Land, TX, US",2019-05-21 06:25:14.847582
5,Full-time,Computer SoftwareBankingFinancial Services,EngineeringInformation Technology,Entry level,Reorg,Job description\nReorg provides breaking news ...,"Data Scientist\nReorgNew York City, NY, US\n2 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-21 06:25:16.664477
6,Full-time,Information Technology and ServicesBankingFina...,EngineeringInformation Technology,Entry level,GHR,Job description\nJob Description\n\nResponsibl...,"Data Scientist\nGHRJersey City, NJ, US\n4 week...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Jersey City, NJ, US",2019-05-21 06:25:18.542636
...,...,...,...,...,...,...,...,...,...,...,...
9,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Mathway,Job description\nJob Description JOB DESCRIPTI...,"Data Scientist\nMathwayCenter Valley, PA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Center Valley, PA, US",2019-05-21 06:36:10.867060
10,Full-time,CosmeticsComputer SoftwareResearch,EngineeringInformation Technology,Entry level,Boxy Charm,Job description\nJob Description Summary Boxy ...,"Data Scientist\nBoxy CharmFort Lauderdale, FL,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Fort Lauderdale, FL, US",2019-05-21 06:36:13.107914
11,Full-time,CosmeticsComputer SoftwareResearch,EngineeringInformation Technology,Entry level,Boxy Charm,Job description\nJob Description Summary Boxy ...,"Data Scientist\nBoxy CharmFort Lauderdale, FL,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Fort Lauderdale, FL, US",2019-05-21 06:36:14.835778
12,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Mathway,Job description\nJob Description JOB DESCRIPTI...,"Data Scientist\nMathwayCenter Valley, PA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Center Valley, PA, US",2019-05-21 06:36:16.714925
13,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Infosys,Job description\nJob Description\n\nInfosys is...,"Data Scientist\nInfosysCalifornia, MD, US\n2 w...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"California, MD, US",2019-05-21 06:36:18.733264
14,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,Cyber Defense Technologies,Job description\nJob Description Overview: Bas...,Data Scientist\nCyber Defense TechnologiesRest...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Reston, VA, US",2019-05-21 06:36:20.399026
15,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Trianz,Job description\nJob Description\n\nJob Title:...,"Data Scientist\nTrianzManchester, NH, US\n2 we...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Manchester, NH, US",2019-05-21 06:36:22.024753
16,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyWel...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Wellesley, MA, US",2019-05-21 06:36:23.793472
17,Full-time,Marketing and AdvertisingInformation Technolog...,EngineeringInformation Technology,Entry level,Adobe,Job description\nThe challenge\n\nAdobe is loo...,"Data Scientist\nAdobeSan Jose, CA, US\n1 day a...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Jose, CA, US",2019-05-21 06:36:25.682036
18,Full-time,Information Technology and ServicesComputer & ...,Engineering,Mid-Senior level,Feedzai,Job description\nFeedzai is the market leader ...,"Data Scientist\nFeedzaiAtlanta, Georgia, Unite...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Atlanta, Georgia, United States",2019-05-21 06:36:28.114594
19,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Bethesda Softworks,Job description\nData Scientist\n\nDivision: B...,"Data Scientist\nBethesda SoftworksRockville, M...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Rockville, MD, US",2019-05-21 06:36:30.081323
20,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Themesoft Inc.,Job description\nBuild and evaluate predictive...,"Data Scientist\nThemesoft Inc.San Jose, CA, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Jose, CA, US",2019-05-21 06:36:31.994898
21,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Mid-Senior level,WeWork,"Job description\nThe Role\n\nAt WeWork, data s...","Data Scientist, Redtech\nWeWorkNew York City, ...",https://www.linkedin.com/jobs/view/data-scient...,"Data Scientist, Redtech","New York City, NY, US",2019-05-21 06:36:33.861259
22,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Bethesda Softworks,Job description\nData Scientist\n\nDivision: B...,"Data Scientist\nBethesda SoftworksOregon, OR, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Oregon, OR, US",2019-05-21 06:36:35.681048
23,Full-time,Management ConsultingOnline MediaInternet,MarketingAnalystConsulting,Mid-Senior level,Smith Hanley Associates,Job description\nTitle: Data Scientist\nLocati...,Data Scientist\nSmith Hanley AssociatesWashing...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Washington D.C. Metro Area,2019-05-21 06:36:37.648533
24,Contract,Electrical/Electronic ManufacturingIndustrial ...,Information TechnologyEngineeringAnalyst,Mid-Senior level,Hunter International Recruiting,Job description\nData Scientist\nMenomonee Fal...,Data Scientist\nHunter International Recruitin...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater Milwaukee Area,2019-05-21 06:36:39.373115
1,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Booz Allen Hamilton,Job description\nJob Description\n\nJob Number...,"Data Scientist\nBooz Allen HamiltonAlexandria,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Alexandria, VA, US",2019-05-21 06:36:42.017396
2,Full-time,Computer SoftwareInformation Technology and Se...,ConsultingInformation TechnologyEngineering,Not Applicable,Amazon Web Services (AWS),Job description\nDescription\n\nExcited by usi...,Data Scientist\nAmazon Web Services (AWS)New Y...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-21 06:36:44.171583
3,Full-time,Computer SoftwareInformation Technology and Se...,EngineeringInformation Technology,Not Applicable,Amazon Web Services (AWS),Job description\nDescription\n\nExcited by usi...,Data Scientist\nAmazon Web Services (AWS)Santa...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Santa Monica, CA, US",2019-05-21 06:36:45.851873
4,Full-time,Computer SoftwareInformation Technology and Se...,ResearchScienceEngineering,Not Applicable,Amazon Web Services (AWS),Job description\nDescription\n\nMachine learni...,Data Scientist\nAmazon Web Services (AWS)New Y...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-21 06:36:47.642889
5,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Mid-Senior level,IBM,Job description\nJob Description\n\nIn this ne...,"Data Scientist\nIBMBoston, MA, US\n4 weeks ago...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Boston, MA, US",2019-05-21 06:36:49.355104
6,Full-time,Computer SoftwareInformation Technology and Se...,ResearchScienceEngineering,Not Applicable,Amazon Web Services (AWS),Job description\nDescription\n\nMachine learni...,Data Scientist\nAmazon Web Services (AWS)Seatt...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Seattle, WA, US",2019-05-21 06:36:51.322492
7,Full-time,Entertainment,Other,Mid-Senior level,VelvetJobs,Job description\nData Scientist\nWhat will be ...,"Data Scientist\nVelvetJobsCulver City, CA, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Culver City, CA, US",2019-05-21 06:36:53.092823
8,Full-time,Entertainment,Other,Mid-Senior level,VelvetJobs,Job description\nData Scientist\nWhat will be ...,"Data Scientist\nVelvetJobsCulver City, CA, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Culver City, CA, US",2019-05-21 06:36:55.057852
9,Full-time,Information Technology and Services,EngineeringInformation Technology,Entry level,Collabera Inc.,"Job description\nBellevue, Washington\nSkills ...","Data Scientist\nCollabera Inc.Bellevue, WA, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Bellevue, WA, US",2019-05-21 06:36:56.898308
10,Full-time,Information Technology and Services,EngineeringInformation Technology,Entry level,Collabera Inc.,"Job description\nJersey City, New Jersey\nSkil...","Data Scientist\nCollabera Inc.Jersey City, NJ,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Jersey City, NJ, US",2019-05-21 06:36:58.784137
11,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Mathway,Job description\nJob Description JOB DESCRIPTI...,"Data Scientist\nMathwayCenter Valley, PA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Center Valley, PA, US",2019-05-21 06:37:00.709213
12,Full-time,Marketing and AdvertisingInternetInsurance,EngineeringInformation Technology,Entry level,Headhunter Group,Job description\nJob Description Data Scientis...,"Data Scientist\nHeadhunter GroupSt. Louis, MO,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"St. Louis, MO, US",2019-05-21 06:37:02.367434
13,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Vantiv,Job description\nJob Description\n\nThe Compan...,"Data Scientist\nVantivCincinnati, OH, US\n4 we...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Cincinnati, OH, US",2019-05-21 06:37:04.165220

In [5]:
page_num

16

In [17]:
master_df

,Employment type,Industries,Job function,Seniority level,company_name,description,full_header,job_posting_url,job_title,location,run_date
1,Full-time,"Computer SoftwareHospital & Health CareHealth,...",Information Technology,Mid-Senior level,Carrot Health,Job description\nCarrot Health is looking for ...,Senior Data Scientist\nCarrot HealthGreater Mi...,https://www.linkedin.com/jobs/view/senior-data...,Senior Data Scientist,Greater Minneapolis-St. Paul Area,2019-05-14 05:59:26.615554
2,Full-time,Information Technology and Services,EngineeringInformation Technology,Mid-Senior level,Quantum Workplace,Job description\nMake work better every day\nQ...,"Data Scientist\nQuantum WorkplaceOmaha, Nebras...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Omaha, Nebraska",2019-05-14 05:59:28.481720
3,Full-time,NaN,NaN,Not Applicable,"Olaris, Inc","Job description\nIf you like diving into data,...","Data Scientist\nOlaris, IncGreater Boston Area...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater Boston Area,2019-05-14 05:59:30.139451
4,Contract,NaN,NaN,Not Applicable,None,Job description\nThe Birnbaum Women’s Leadersh...,Data Scientist\nNew York University School of ...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater New York City Area,2019-05-14 05:59:32.014572
5,Full-time,Computer SoftwareInternet,EngineeringInformation Technology,Mid-Senior level,cohesion,Job description\nPassionate about digitally tr...,"Data Scientist\ncohesionChicago, Illinois\nNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Chicago, Illinois",2019-05-14 05:59:33.826795
6,Full-time,Biotechnology,Information TechnologyAnalystEngineering,Mid-Senior level,Convergent Genomics,Job description\nAbout Convergent Genomics\nCo...,Data Scientist\nConvergent Genomics San Franci...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,San Francisco Bay Area,2019-05-14 05:59:35.697707
7,Full-time,Financial Services,EngineeringAnalyst,Mid-Senior level,Cypress HCM,Job description\nData Scientist\n Cypress is ...,"Data Scientist\nCypress HCMSan Diego, Californ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Diego, California",2019-05-14 05:59:37.452065
8,Full-time,Information Technology and ServicesInsuranceFi...,EngineeringInformation Technology,Entry level,Crum & Forster,Job description\nWho We Are\n\nCrum & Forster ...,"Associate Data Scientist\nCrum & ForsterAkron,...",https://www.linkedin.com/jobs/view/associate-d...,Associate Data Scientist,"Akron, OH, US",2019-05-14 05:59:39.064320
9,Full-time,Retail,AnalystScienceResearch,Mid-Senior level,Walmart,Job description\nStaff Data Scientist\n\nThis ...,"Staff Data Scientist\nWalmartFayetteville, Ark...",https://www.linkedin.com/jobs/view/staff-data-...,Staff Data Scientist,"Fayetteville, Arkansas Area",2019-05-14 05:59:40.854109
10,Full-time,Investment Management,Finance,Associate,Selby Jennings,"Job description\nMy client, a well regarded gl...",Data Scientist (NLP/Deep Learning)\nSelby Jenn...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist (NLP/Deep Learning),"San Francisco, California, United States",2019-05-14 05:59:42.915527
11,Full-time,Research,EngineeringInformation Technology,Entry level,Jobs @ TheJobNetwork,Job description\nJob Description\n\nAre you a ...,"Data Scientist\nJobs @ TheJobNetworkBethesda, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Bethesda, MD, US",2019-05-14 05:59:44.624918
12,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,wellio,Job description\nAbout Wellio\n\nWe are a (sma...,"Product Data Scientist\nwellioSan Francisco, C...",https://www.linkedin.com/jobs/view/product-dat...,Product Data Scientist,"San Francisco, CA, US",2019-05-14 05:59:46.384352
13,Full-time,ResearchBiotechnologyPharmaceuticals,EngineeringInformation Technology,Entry level,SDC (Statistics & Data Corporation),Job description\nJob Summary\n\nPerform resear...,Artificial Intelligence Data Scientist\nSDC (S...,https://www.linkedin.com/jobs/view/artificial-...,Artificial Intelligence Data Scientist,"Tempe, AZ, US",2019-05-14 05:59:48.305998
14,Full-time,Marketing and AdvertisingComputer SoftwareInte...,EngineeringInformation Technology,Entry level,Honor,"Job description\nFounded in 2015, Honor is now...","Data Scientist\nHonorSan Francisco, CA, US\n1 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-14 05:59:50.206630
15,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,InfiCare Software Technologies,Job description\nRole Data Scientist Location ...,Data Scientist\nInfiCare Software Technologies...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Detroit, MI, US",2019-05-14 05:59:51.923515
16,Full-time,Electrical/Electronic ManufacturingIndustrial ...,EngineeringInformation Technology,Entry level,"Xyntek, Inc.",Job description\nData Scientist\nLocation: New...,"Data Scientist - Philadelphia\nXyntek, Inc.Phi...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist - Philadelphia,"Philadelphia, PA, US",2019-05-14 05:59:53.589373
17,Contract,Computer SoftwareComputer NetworkingInformatio...,EngineeringProductionAdministrative,Mid-Senior level,Flashii,Job description\n* Candidate would need to wor...,"Data Scientist\nFlashiiAtlanta, Georgia\nNew23...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Atlanta, Georgia",2019-05-14 05:59:55.276620
18,Contract,TelecommunicationsFinancial Services,Finance,Mid-Senior level,Innovative Systems Group,Job description\nWe are looking for a Sr Data ...,Data Scientist\nInnovative Systems GroupBellev...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Bellevue, Washington",2019-05-14 05:59:57.260457
19,Contract,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Infinite Computer Solutions,Job description\nInfinite Computer Solutions L...,Data Scientist\nInfinite Computer SolutionsPis...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Piscataway, NJ, US",2019-05-14 05:59:59.178765
20,Full-time,Marketing and AdvertisingComputer SoftwareInte...,EngineeringInformation Technology,Entry level,"ADARA, Inc.","Job description\nAt Adara, Inc, we partner wit...","Data Scientist\nADARA, Inc.Palo Alto, CA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Palo Alto, CA, US",2019-05-14 06:00:00.981523
21,Full-time,Defense & Space,Information TechnologyEngineering,Associate,Agile Business Concepts LLC,Job description\nJob Description\nOur Intellig...,Data Scientist\nAgile Business Concepts LLCMcL...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"McLean, Virginia, United States",2019-05-14 06:00:03.055305
22,Full-time,Computer SoftwareInternetFinancial Services,EngineeringInformation Technology,Entry level,TEKREQS,Job description\nData Scientist & Senior Data ...,"Data Scientist\nTEKREQSNew York City, NY, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-14 06:00:05.010480
23,Full-time,Computer SoftwareBankingFinancial Services,EngineeringInformation Technology,Entry level,Summit Credit Union,Job description\nJOB REQUIREMENTS: Are you a s...,"Data Scientist\nSummit Credit UnionMadison, WI...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Madison, WI, US",2019-05-14 06:00:06.944907
24,Contract,Information Technology and ServicesInternetCon...,Information Technology,Mid-Senior level,Nytec,Job description\nAt least 5 years relevant exp...,"Data Scientist\nNytecBellevue, Washington\nNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Bellevue, Washington",2019-05-14 06:00:08.900445
1,Full-time,Consumer GoodsConsumer ServicesRetail,AnalystScienceMarketing,Associate,Burtch Works,"Job description\nOur client, a major company i...","Data Scientist\nBurtch WorksPhoenix, Arizona, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Phoenix, Arizona, United States",2019-05-14 06:00:11.919712
2,Full-time,Information Technology and ServicesComputer So...,Information Technology,Mid-Senior level,Genpact Headstrong Capital Markets,Job description\nJob Summary: \nSenior Consul...,Data Scientist\nGenpact Headstrong Capital Mar...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Boston, Massachusetts",2019-05-14 06:00:13.654829
3,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,"Uniplus Consultants, Inc.",Job description\nPlz contact abbas.ali@uniplus...,"Data Scientist\nUniplus Consultants, Inc.Manas...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Manassas, VA, US",2019-05-14 06:00:15.488668
4,Full-time,Market ResearchInformation Technology and Serv...,ResearchAnalystInformation Technology,Mid-Senior level,FocusVision,"Job description\nAt FocusVision, recommending ...","Data Scientist\nFocusVisionStamford, Connectic...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Stamford, Connecticut",2019-05-14 06:00:17.640877
5,Contract,EntertainmentMusicBroadcast Media,Information TechnologyAnalyst,Mid-Senior level,Onward Select,Job description\n***NO AGENCY CANDIDATES PLEAS...,"Data Scientist\nOnward SelectNew York, New Yor...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York, New York",2019-05-14 06:00:19.474962
6,Full-time,Computer SoftwareInternetFinancial Services,EngineeringInformation Technology,Entry level,Brex,Job description\nBrex is building the new glob...,"Data Scientist\nBrexSan Francisco, CA, US\n6 d...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-14 06:00:21.319337
...,...,...,...,...,...,...,...,...,...,...,...
3,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Tecwallet,Job description\nJob Description\n\nSeeking Pr...,"Data Scientist\nTecwalletSanta Clara, CA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Santa Clara, CA, US",2019-05-14 06:17:11.595637
4,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,SPIN Strategy,"Job description\nData Scientist Sunnyvale,CA L...","Data Scientist\nSPIN StrategySunnyvale, CA, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Sunnyvale, CA, US",2019-05-14 06:17:13.383829
5,Full-time,Hospital & Health Care,EngineeringInformation Technology,Entry level,Roche,Job description\nGenentech has an exciting opp...,Data Scientist / Engineer\nRocheSouth San Fran...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist / Engineer,"South San Francisco, CA, US",2019-05-14 06:17:15.772301
6,Full-time,Higher EducationFinancial ServicesAccounting,EngineeringInformation Technology,Entry level,Saint Augustine’s University,Job description\nJob Description\n\nAssociate ...,Associate Data Scientist\nSaint Augustine’s Un...,https://www.linkedin.com/jobs/view/associate-d...,Associate Data Scientist,"Raleigh, NC, US",2019-05-14 06:17:18.557600
7,Full-time,Retail,Other,Associate,Ron Culp - State Farm Agent,"Job description\nStatistician/Data Scientist, ...",Statistician/Data Scientist\nRon Culp - State ...,https://www.linkedin.com/jobs/view/statisticia...,Statistician/Data Scientist,"Costa Mesa, CA, US",2019-05-14 06:17:21.054994
8,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,WalletHub,"Job description\nWashington, DC or Remote (inc...",Data Scientist - Washington\nWalletHubWashingt...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist - Washington,"Washington, D.C., DC, US",2019-05-14 06:17:23.362022
9,Full-time,Nonprofit Organization ManagementResearchFinan...,EngineeringInformation Technology,Entry level,Illinois Policy,Job description\nJob Description Data Scientis...,"Data Scientist\nIllinois PolicyChicago, IL, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Chicago, IL, US",2019-05-14 06:17:25.575930
10,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Engage3,Job description\nJob Description As a Data Sci...,"Data Scientist\nEngage3Davis, CA, US\n2 weeks ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Davis, CA, US",2019-05-14 06:17:27.498246
11,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Resourcesoft INC,Job description\nRequirements\n\n5 years of ex...,"Data Scientist\nResourcesoft INCRichmond, VA, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Richmond, VA, US",2019-05-14 06:17:29.410395
12,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,"Comtech Global, Inc",Job description\nSr Data Scientist in Manassas...,"Data Scientist\nComtech Global, IncManassas, V...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Manassas, VA, US",2019-05-14 06:17:31.594244
13,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Newwave,Job description\nNewWave is an information tec...,"Data Scientist\nNewwaveWest Des Moines, IA, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"West Des Moines, IA, US",2019-05-14 06:17:33.823319
14,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,BREAKFORTH,Job description\nJob Description BreakForth So...,"Data Scientist\nBREAKFORTHWashington, D.C., DC...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-14 06:17:35.821099
15,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,ingenium.agency,Job description\nJob Description The Data Scie...,"Data Scientist\ningenium.agencyNew York City, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-14 06:17:37.820972
16,Full-time,Computer HardwareComputer SoftwareComputer Net...,Information TechnologyEngineering,Associate,Pandera Systems,Job description\nDescription\n\nPandera prides...,"Data Scientist\nPandera SystemsChicago, IL, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Chicago, IL, US",2019-05-14 06:17:39.636327
17,Full-time,Computer SoftwareEducation ManagementInternet,EngineeringInformation Technology,Entry level,Imagine Learning,Job description\nImagine Learning creates enga...,"Data Scientist\nImagine LearningProvo, UT, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Provo, UT, US",2019-05-14 06:17:41.493278
18,Full-time,Nonprofit Organization ManagementHigher Educat...,EngineeringInformation Technology,Entry level,Foundation For Virginia,Job description\nVDOT's Business Transformatio...,Data Scientist\nFoundation For VirginiaRichmon...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Richmond, VA, US",2019-05-14 06:17:43.085158
19,Full-time,BiotechnologyHospital & Health CarePharmaceuti...,EngineeringInformation Technology,Entry level,HORIZONPHARMA,Job description\nThis job was posted by https:...,Data Scientist - R0001110 - IL06523727\nHORIZO...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist - R0001110 - IL06523727,"Lake Forest, IL, US",2019-05-14 06:17:44.647307
20,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,TIBCO,Job description\nData ScientistUS-CA-Palo Alto...,"Data Scientist\nTIBCOPalo Alto, CA, US\n1 mont...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Palo Alto, CA, US",2019-05-14 06:17:46.635247
21,Full-time,Online Media,EngineeringInformation Technology,Not Applicable,Dow Jones,Job description\nJob Description\n\nWe are see...,"Data Scientist\nDow JonesNew York City, NY, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-14 06:17:48.959660
22,Full-time,Computer Software,EngineeringInformation Technology,Not Applicable,JDA Software,Job description\nPosition Title\n\nData Scient...,"Data Scientist\nJDA SoftwareDallas, TX, US\n1 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Dallas, TX, US",2019-05-14 06:17:50.776389
23,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,"Integral Consulting Services, Inc.",Job description\nData Scientist\n\nFinancial C...,"Data Scientist*\nIntegral Consulting Services,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist*,"Manassas, VA, US",2019-05-14 06:17:52.616909
24,Full-time,Nonprofit Organization ManagementHuman Resourc...,EngineeringInformation Technology,Entry level,Paladina Health,Job description\nPaladina Health is a growing ...,Healthcare Data Scientist\nPaladina HealthDenv...,https://www.linkedin.com/jobs/view/healthcare-...,Healthcare Data Scientist,"Denver, CO, US",2019-05-14 06:17:54.745919
1,Full-time,Apparel & FashionConsumer GoodsRetail,EngineeringInformation Technology,Entry level,Vera Bradley,Job description\nThe Data Scientist is respons...,"Data Scientist\nVera BradleyRoanoke, IN, US\n2...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Roanoke, IN, US",2019-05-14 06:17:57.545930
2,Full-time,Oil & EnergyInformation Technology and Services,AnalystInformation Technology,Associate,IGS,Job description\nOur Enterprise Analytics depa...,"Data Scientist\nIGS6100 Emerald Parkway , Dubl...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"6100 Emerald Parkway , Dublin, OH 43016, US",2019-05-14 06:17:59.489937
3,Full-time,Food & BeveragesRetailHospitality,EngineeringInformation Technology,Entry level,Vail Resorts,Job description\nReach Your Peak at Vail Resor...,"Data Scientist\nVail ResortsBroomfield, CO, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Broomfield, CO, US",2019-05-14 06:18:01.559733
4,Full-time,Computer & Network SecurityComputer SoftwareIn...,EngineeringInformation Technology,Entry level,ExtraHop,Job description\nThe ExtraHop platform is a no...,"Data Scientist\nExtraHopSeattle, WA, US\n5 day...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Seattle, WA, US",2019-05-14 06:18:03.387237
5,Full-time,InsuranceManagement Consulting,EngineeringInformation Technology,Not Applicable,Mercer,Job description\nData Scientist\n\nLocation: P...,"Data Scientist\nMercerPrinceton, NJ, US\n5 day...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Princeton, NJ, US",2019-05-14 06:18:05.145243
6,Full-time,ConstructionInformation Technology and Service...,EngineeringInformation Technology,Entry level,"Liberty Personnel Services, Inc.",Job description\nData Scientist\n\nRole Will I...,"Data Scientist\nLiberty Personnel Services, In...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Plymouth Meeting, PA, US",2019-05-14 06:18:06.949532
7,Full-time,Computer Software,EngineeringInformation Technology,Mid-Senior level,Keap,Job description\nThe Work\nWork closely with P...,"Data Scientist\nKeapChandler, Arizona, United ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Chandler, Arizona, United States",2019-05-14 06:18:08.789300

In [54]:
master_df_2 = master_df

In [47]:
master_df_1 = master_df

In [60]:
master_df = pd.concat([master_df, master_df_1])

In [61]:
master_df = pd.concat([master_df, master_df_2])

In [64]:
master_df = master_df.reset_index(drop=True)

In [65]:
master_df

,Employment type,Industries,Job function,Seniority level,company_name,description,full_header,job_posting_url,job_title,location,run_date
0,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Mid-Senior level,IBM,Job description\nJob Description\n\nIn this ne...,"Data Scientist\nIBMNew York City, NY, US\n1 we...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:43.363819
1,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:45.181828
2,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:46.789826
3,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:48.538865
4,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nHow quickly would humanity pr...,"Data Scientist\nBig CloudWestport, Connecticut...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Westport, Connecticut",2019-05-05 08:25:50.318100
5,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nAre you a US citizen or Perma...,"Data Scientist\nBig CloudRedwood City, Califor...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Redwood City, California",2019-05-05 08:25:51.996287
6,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nAre you a US citizen or Perma...,Data Scientist\nBig CloudWashington D.C. Metro...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Washington D.C. Metro Area,2019-05-05 08:25:53.546403
7,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Amiga Informatics,"Job description\nJob Description Hello, Trust ...",Data Scientist(data analyst+data engineer)\nAm...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist(data analyst+data engineer),"Alviso Ridge, CA, US",2019-05-05 08:25:54.998872
8,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nAre you a US citizen or Perma...,Data Scientist\nBig CloudWashington D.C. Metro...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Washington D.C. Metro Area,2019-05-05 08:25:56.572308
9,Full-time,Marketing and AdvertisingComputer SoftwareInte...,Information Technology,Associate,None,"Job description\nAt Plato, we’re on a mission ...",Data Analyst / Scientist [Full-time]\nPlatoSan...,https://www.linkedin.com/jobs/view/data-analys...,Data Analyst / Scientist [Full-time],"San Francisco, CA, US",2019-05-05 08:25:58.154154
10,Contract,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Mastech,Job description\nJob Description Mastech Digit...,"Data Scientist\nMastechPleasanton, CA, US\n1 m...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Pleasanton, CA, US",2019-05-05 08:25:59.793551
11,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Mid-Senior level,Infosys,Job description\nInfosys is seeking a Data Sci...,"Data Scientist\nInfosysRichardson, Texas\n2 we...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Richardson, Texas",2019-05-05 08:26:01.336883
12,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Life Sciences,Job description\nJob Description\nJob #: 9519...,"Data Scientist\nApex Life SciencesMemphis, TN,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Memphis, TN, US",2019-05-05 08:26:02.880416
13,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,Bravo Consulting,Job description\nJob Description About Bravo B...,"Data Scientist\nBravo ConsultingWashington, D....",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:26:04.345606
14,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,Bravo Consulting,Job description\nJob Description About Bravo B...,"Data Scientist\nBravo ConsultingWashington, D....",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:26:06.029004
15,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Systems,Job description\nJob Description\n\nJob #: 920...,"Data Scientist\nApex SystemsBoston, MA, US\n3 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Boston, MA, US",2019-05-05 08:26:07.845995
16,Full-time,Marketing and AdvertisingComputer SoftwareInte...,EngineeringInformation Technology,Entry level,O'Reilly Media,Job description\nThe Data Scientist's primary ...,"Data Scientist\nO'Reilly MediaSan Francisco, C...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-05 08:26:09.470873
17,Full-time,Computer & Network SecurityComputer Software,EngineeringInformation Technology,Not Applicable,Proofpoint,Job description\nIt's fun to work in a company...,"Data Scientist\nProofpointSunnyvale, CA, US\n2...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Sunnyvale, CA, US",2019-05-05 08:26:11.234668
18,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Invitae,Job description\nInvitae envisions a world in ...,"Data Scientist\nInvitaeSan Francisco, CA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-05 08:26:12.867191
19,Full-time,BankingFinancial ServicesInvestment Banking,EngineeringInformation Technology,Associate,Capital One,"Job description\nMcLean 1 (19050), United Stat...","Data Scientist\nCapital OneMcLean, VA, US\n2 w...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"McLean, VA, US",2019-05-05 08:26:14.440373
20,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Bethesda Softworks,Job description\nData Scientist\n\nDivision: B...,"Data Scientist\nBethesda SoftworksHunt Valley,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Hunt Valley, MD, US",2019-05-05 08:26:16.034651
21,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,"NewWave Telecom & Technologies, Inc.",Job description\nNewWave is an information tec...,Data Scientist\nNewWave Telecom & Technologies...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"West Des Moines, IA, US",2019-05-05 08:26:17.850787
22,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,"CALNET, Inc.","Job description\nFounded in 1989, CALNET, Inc....","Data Scientist\nCALNET, Inc.Springfield, MO, U...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Springfield, MO, US",2019-05-05 08:26:19.370229
23,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,O'Reilly Media,Job description\nDescription\n\nThe Data Scien...,"Data Scientist\nO'Reilly MediaFlorida, FL, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Florida, FL, US",2019-05-05 08:26:20.895711
24,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,eFinancialCareers,Job description\nJobDescription\n\nThe Team: T...,Data Scientist\neFinancialCareersNew York City...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:26:23.412987
25,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Infosys Public Services,Job description\nRole Data Scientist Auto req ...,Data Scientist - 29866BR\nInfosys Public Servi...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist - 29866BR,"New York City, NY, US",2019-05-05 08:26:25.060955
26,Full-time,Computer SoftwareInternetFinancial Services,EngineeringInformation Technology,Entry level,Personal Capital,Job description\nData Scientist\n\nCompany\n\n...,Data Scientist\nPersonal CapitalRedwood Shores...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Redwood Shores, CA, US",2019-05-05 08:26:26.661667
27,Full-time,Banking,EngineeringInformation Technology,Not Applicable,Regions Bank,Job description\nThank you for your interest i...,"Data Scientist\nRegions BankDenver, CO, US\n1 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Denver, CO, US",2019-05-05 08:26:28.316366
28,Full-time,Information Technology and ServicesInsuranceFi...,EngineeringInformation Technology,Entry level,Aon,Job description\nJob Description\n\nAon is loo...,"Data Scientist\nAonNew York City, NY, US\n2 mo...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:26:30.091887
29,Full-time,Consumer ServicesInternet,MarketingAnalystResearch,Mid-Senior level,BrainWorks,"Job description\nOur client, recently ranked o...",Data Scientist\nBrainWorksGreater Boston Area\...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater Boston Area,2019-05-05 08:26:31.634626
...,...,...,...,...,...,...,...,...,...,...,...
934,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Genuent,Job description\nJob Description\n\nGenuent is...,"Data Scientist\nGenuentBurbank, CA, US\n5 days...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Burbank, CA, US",2019-05-05 08:19:27.007773
935,Full-time,Insurance,ResearchEngineeringInformation Technology,Associate,Root Insurance Company,Job description\nRoot is seeking a data scient...,Data Scientist\nRoot Insurance CompanyColumbus...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Columbus, Ohio, United States",2019-05-05 08:19:28.598946
936,Full-time,Computer SoftwareInformation Technology and Se...,EngineeringInformation TechnologyScience,Mid-Senior level,Securus Technologies,Job description\nOverview\nJob Purpose:\nParti...,Data Scientist\nSecurus TechnologiesSouthborou...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Southborough, Massachusetts, United States",2019-05-05 08:19:31.464757
937,Full-time,Oil & Energy,EngineeringInformation Technology,Not Applicable,Marathon Petroleum Corporation,"Job description\nLocation Name: Findlay, OH\nL...",Data Scientist\nMarathon Petroleum Corporation...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Findlay, OH, US",2019-05-05 08:19:32.969875
938,Full-time,"Staffing and RecruitingHealth, Wellness and Fi...",EngineeringInformation Technology,Entry level,VCA Animal Hospitals,"Job description\nCompany Info: VCA Inc. owns, ...",Data Scientist\nVCA Animal HospitalsLos Angele...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Los Angeles, CA, US",2019-05-05 08:19:34.487134
939,Full-time,Computer SoftwareInformation Technology and Se...,ConsultingCustomer ServiceEngineering,Not Applicable,Dassault Systèmes,Job description\n\nImagine New Horizons..........,"Data Scientist\nDassault SystèmesBroomfield, C...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Broomfield, CO, US",2019-05-05 08:19:36.070196
940,Full-time,Computer Software,Information Technology,Mid-Senior level,The Cypress Group,Job description\nMy client is a leader in data...,Data Scientist\nThe Cypress GroupGreater New Y...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater New York City Area,2019-05-05 08:19:37.669512
941,Full-time,Financial Services,AnalystEngineeringOther,Associate,West Creek,Job description\nAbout the role\nDo you have a...,"Data Scientist\nWest CreekRichmond, Virginia, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Richmond, Virginia, United States",2019-05-05 08:19:39.331254
942,Full-time,Management ConsultingHospitalityFood & Beverages,Information TechnologyResearchBusiness Develop...,Entry level,Revenue Management Solutions,Job description\n**THIS POSITION DOES NOT PROV...,Data Scientist\nRevenue Management Solutions77...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"777 S Harbour Island Blvd, Tampa, Florida 33602",2019-05-05 08:19:40.882737
943,Full-time,AccountingManagement Consulting,EngineeringInformation Technology,Not Applicable,Grant Thornton LLP,Job description\nGrant Thornton is seeking a S...,"Data Scientist\nGrant Thornton LLPWashington, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:19:43.061015
944,Full-time,Computer GamesInformation Technology and Servi...,Strategy/PlanningAnalystInformation Technology,Not Applicable,Electronic Arts (EA),Job description\nElectronic Arts Inc. is a lea...,Data Scientist\nElectronic Arts (EA)Redwood Ci...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Redwood City, CA, US",2019-05-05 08:19:44.528424
945,Full-time,Retail,Marketing,Entry level,7-Eleven,Job description\n\n\nDevelop machine learning ...,"Data Scientist\n7-ElevenIrving, TX, US\n2 week...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Irving, TX, US",2019-05-05 08:19:46.109736
946,Full-time,Automotive,Engineering,Associate,AVL,Job description\nWe are looking for a passiona...,"Data Scientist\nAVL47603 Halyard Dr, Plymouth,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"47603 Halyard Dr, Plymouth, Michigan 48170",2019-05-05 08:19:47.534398
947,Full-time,AutomotiveStaffing and RecruitingPharmaceuticals,EngineeringInformation Technology,Entry level,Make Us Digital,Job description\nJob Description Manager inter...,Data Scientist\nMake Us DigitalMenomonee Falls...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Menomonee Falls, WI, US",2019-05-05 08:19:49.215427
948,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Techno Comp - India,Job description\nSUB CONTRACTING COMPANIESSUB ...,"Data Scientist\nTechno Comp - IndiaIrving, TX,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Irving, TX, US",2019-05-05 08:19:50.812236
949,Full-time,Online MediaComputer SoftwareInternet,EngineeringInformation Technology,Entry level,Advance Digital,"Job description\nTylt, a social polling site u...","Data Scientist\nAdvance DigitalNew York City, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:19:52.478229
950,Full-time,Hospital & Health Care,ResearchAnalystInformation Technology,Not Applicable,HCA Healthcare,Job description\nDescription\n\nSHIFT: No Week...,Senior Data Research Scientist\nHCA Healthcare...,https://www.linkedin.com/jobs/view/senior-data...,Senior Data Research Scientist,"Nashville, TN, US",2019-05-05 08:19:54.320945
951,Full-time,Computer SoftwareFinancial Services,EngineeringScienceResearch,Mid-Senior level,Nomis Solutions,Job description\nData Scientist\nWho We Are & ...,Data Scientist\nNomis SolutionsSan Francisco B...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,San Francisco Bay Area,2019-05-05 08:19:55.885331
952,Full-time,Computer SoftwareComputer NetworkingInformatio...,EngineeringInformation Technology,Entry level,Confluent,"Job description\nDubbed an ""open-source unicor...","Data Scientist\nConfluentPalo Alto, CA, US\n3 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Palo Alto, CA, US",2019-05-05 08:19:57.586247
953,Contract,Utilities,EngineeringInformation Technology,Mid-Senior level,Pacific Data Integrators,Job description\nPDI provides services across ...,Data Scientist\nPacific Data IntegratorsSan Fr...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-05 08:19:59.116917
954,Full-time,Civil EngineeringConstructionOil & Energy,EngineeringInformation Technology,Not Applicable,Jacobs,Job description\nDescription\n\n“Jacobs Nation...,"Data Scientist\nJacobsWashington, D.C., DC, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:20:00.661568
955,Full-time,Computer Software,Engineering,Mid-Senior level,Infinia ML,Job description\nInfinia ML is seeking a Data ...,"Data Scientist\nInfinia MLRaleigh-Durham, Nort...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Raleigh-Durham, North Carolina Area",2019-05-05 08:20:02.234750
956,Internship,Defense & SpaceComputer SoftwareComputer & Net...,EngineeringInformation Technology,Internship,IOMAXIS,Job description\nPreference Will Be Given To A...,"Data Scientist/ AI Intern\nIOMAXISSpringfield,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist/ AI Intern,"Springfield, VA, US",2019-05-05 08:20:03.803392
957,Full-time,Computer SoftwareHospital & Health CarePharmac...,Information TechnologyEngineeringScience,Mid-Senior level,Komodo Health,Job description\nWe are looking for a Data Sci...,Data Scientist\nKomodo HealthSan Francisco Bay...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,San Francisco Bay Area,2019-05-05 08:20:05.675200
958,Full-time,Higher EducationFinancial ServicesAccounting,EngineeringInformation Technology,Entry level,Saint Augustine’s University,Job description\nJob Description\n\nAssociate ...,Associate Data Scientist\nSaint Augustine’s Un...,https://www.linkedin.com/jobs/view/associate-d...,Associate Data Scientist,"Raleigh, NC, US",2019-05-05 08:20:07.386197
959,Full-time,Marketing and Advertising,Marketing,Mid-Senior level,GroupM,"Job description\nData Scientist -Bend, OR\n G...","Data Scientist\nGroupMBend, Oregon, United Sta...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Bend, Oregon, United States",2019-05-05 08:20:09.005199
960,Contract,Automotive,Information Technology,Mid-Senior level,Hays,"Job description\nData Scientist, Permanent, Re...","Data Scientist (TensorFlow, SyntaxNet)\nHaysWa...",https://www.linkedin.com/jobs/view/data-scient...,"Data Scientist (TensorFlow, SyntaxNet)",Washington D.C. Metro Area,2019-05-05 08:20:11.447336
961,Full-time,TelecommunicationsBroadcast MediaInternet,Information Technology,Associate,Cox Communications,Job description\nCox Communications is looking...,Senior Data Scientist\nCox CommunicationsAtlan...,https://www.linkedin.com/jobs/view/senior-data...,Senior Data Scientist,"Atlanta, GA, US",2019-05-05 08:20:13.218576

In [8]:
master_df.dtypes

Employment type    object
Industries         object
Job function       object
Seniority level    object
company_name       object
description        object
full_header        object
job_posting_url    object
job_title          object
location           object
run_date           object
dtype: object

In [105]:
master_df['python'] = master_df['description'].apply(lambda x: 'python' in x.lower())

In [66]:
# master_df.to_csv('ds_jobs.csv')

In [15]:
df = pd.DataFrame.from_csv("ds_jobs.csv")

/Users/will/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [17]:
df.dtypes

employment_type    object
industries         object
job function       object
seniority_level    object
company_name       object
description        object
full_header        object
job_posting_url    object
job_title          object
location           object
run_date           object
dtype: object

In [18]:
df

,employment_type,industries,job function,seniority_level,company_name,description,full_header,job_posting_url,job_title,location,run_date
0,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Mid-Senior level,IBM,Job description\nJob Description\n\nIn this ne...,"Data Scientist\nIBMNew York City, NY, US\n1 we...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:43.363819
1,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:45.181828
2,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:46.789826
3,Full-time,InsuranceFinancial ServicesHospital & Health Care,EngineeringInformation Technology,Entry level,"Aetna, a CVS Health Company",Job description\nJob Description\n\nPOSITION S...,"Data Scientist\nAetna, a CVS Health CompanyNew...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:25:48.538865
4,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nHow quickly would humanity pr...,"Data Scientist\nBig CloudWestport, Connecticut...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Westport, Connecticut",2019-05-05 08:25:50.318100
5,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nAre you a US citizen or Perma...,"Data Scientist\nBig CloudRedwood City, Califor...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Redwood City, California",2019-05-05 08:25:51.996287
6,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nAre you a US citizen or Perma...,Data Scientist\nBig CloudWashington D.C. Metro...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Washington D.C. Metro Area,2019-05-05 08:25:53.546403
7,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Amiga Informatics,"Job description\nJob Description Hello, Trust ...",Data Scientist(data analyst+data engineer)\nAm...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist(data analyst+data engineer),"Alviso Ridge, CA, US",2019-05-05 08:25:54.998872
8,Full-time,Information Technology and ServicesResearchCom...,Information TechnologyEngineeringResearch,Mid-Senior level,Big Cloud,Job description\nAre you a US citizen or Perma...,Data Scientist\nBig CloudWashington D.C. Metro...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Washington D.C. Metro Area,2019-05-05 08:25:56.572308
9,Full-time,Marketing and AdvertisingComputer SoftwareInte...,Information Technology,Associate,NaN,"Job description\nAt Plato, we’re on a mission ...",Data Analyst / Scientist [Full-time]\nPlatoSan...,https://www.linkedin.com/jobs/view/data-analys...,Data Analyst / Scientist [Full-time],"San Francisco, CA, US",2019-05-05 08:25:58.154154
10,Contract,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Mastech,Job description\nJob Description Mastech Digit...,"Data Scientist\nMastechPleasanton, CA, US\n1 m...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Pleasanton, CA, US",2019-05-05 08:25:59.793551
11,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Mid-Senior level,Infosys,Job description\nInfosys is seeking a Data Sci...,"Data Scientist\nInfosysRichardson, Texas\n2 we...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Richardson, Texas",2019-05-05 08:26:01.336883
12,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Life Sciences,Job description\nJob Description\nJob #: 9519...,"Data Scientist\nApex Life SciencesMemphis, TN,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Memphis, TN, US",2019-05-05 08:26:02.880416
13,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,Bravo Consulting,Job description\nJob Description About Bravo B...,"Data Scientist\nBravo ConsultingWashington, D....",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:26:04.345606
14,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,Bravo Consulting,Job description\nJob Description About Bravo B...,"Data Scientist\nBravo ConsultingWashington, D....",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:26:06.029004
15,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Apex Systems,Job description\nJob Description\n\nJob #: 920...,"Data Scientist\nApex SystemsBoston, MA, US\n3 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Boston, MA, US",2019-05-05 08:26:07.845995
16,Full-time,Marketing and AdvertisingComputer SoftwareInte...,EngineeringInformation Technology,Entry level,O'Reilly Media,Job description\nThe Data Scientist's primary ...,"Data Scientist\nO'Reilly MediaSan Francisco, C...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-05 08:26:09.470873
17,Full-time,Computer & Network SecurityComputer Software,EngineeringInformation Technology,Not Applicable,Proofpoint,Job description\nIt's fun to work in a company...,"Data Scientist\nProofpointSunnyvale, CA, US\n2...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Sunnyvale, CA, US",2019-05-05 08:26:11.234668
18,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Invitae,Job description\nInvitae envisions a world in ...,"Data Scientist\nInvitaeSan Francisco, CA, US\n...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-05 08:26:12.867191
19,Full-time,BankingFinancial ServicesInvestment Banking,EngineeringInformation Technology,Associate,Capital One,"Job description\nMcLean 1 (19050), United Stat...","Data Scientist\nCapital OneMcLean, VA, US\n2 w...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"McLean, VA, US",2019-05-05 08:26:14.440373
20,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Bethesda Softworks,Job description\nData Scientist\n\nDivision: B...,"Data Scientist\nBethesda SoftworksHunt Valley,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Hunt Valley, MD, US",2019-05-05 08:26:16.034651
21,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,"NewWave Telecom & Technologies, Inc.",Job description\nNewWave is an information tec...,Data Scientist\nNewWave Telecom & Technologies...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"West Des Moines, IA, US",2019-05-05 08:26:17.850787
22,Full-time,Information Technology and ServicesDefense & S...,EngineeringInformation Technology,Entry level,"CALNET, Inc.","Job description\nFounded in 1989, CALNET, Inc....","Data Scientist\nCALNET, Inc.Springfield, MO, U...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Springfield, MO, US",2019-05-05 08:26:19.370229
23,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,O'Reilly Media,Job description\nDescription\n\nThe Data Scien...,"Data Scientist\nO'Reilly MediaFlorida, FL, US\...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Florida, FL, US",2019-05-05 08:26:20.895711
24,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,eFinancialCareers,Job description\nJobDescription\n\nThe Team: T...,Data Scientist\neFinancialCareersNew York City...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:26:23.412987
25,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Infosys Public Services,Job description\nRole Data Scientist Auto req ...,Data Scientist - 29866BR\nInfosys Public Servi...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist - 29866BR,"New York City, NY, US",2019-05-05 08:26:25.060955
26,Full-time,Computer SoftwareInternetFinancial Services,EngineeringInformation Technology,Entry level,Personal Capital,Job description\nData Scientist\n\nCompany\n\n...,Data Scientist\nPersonal CapitalRedwood Shores...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Redwood Shores, CA, US",2019-05-05 08:26:26.661667
27,Full-time,Banking,EngineeringInformation Technology,Not Applicable,Regions Bank,Job description\nThank you for your interest i...,"Data Scientist\nRegions BankDenver, CO, US\n1 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Denver, CO, US",2019-05-05 08:26:28.316366
28,Full-time,Information Technology and ServicesInsuranceFi...,EngineeringInformation Technology,Entry level,Aon,Job description\nJob Description\n\nAon is loo...,"Data Scientist\nAonNew York City, NY, US\n2 mo...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:26:30.091887
29,Full-time,Consumer ServicesInternet,MarketingAnalystResearch,Mid-Senior level,BrainWorks,"Job description\nOur client, recently ranked o...",Data Scientist\nBrainWorksGreater Boston Area\...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater Boston Area,2019-05-05 08:26:31.634626
...,...,...,...,...,...,...,...,...,...,...,...
934,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Genuent,Job description\nJob Description\n\nGenuent is...,"Data Scientist\nGenuentBurbank, CA, US\n5 days...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Burbank, CA, US",2019-05-05 08:19:27.007773
935,Full-time,Insurance,ResearchEngineeringInformation Technology,Associate,Root Insurance Company,Job description\nRoot is seeking a data scient...,Data Scientist\nRoot Insurance CompanyColumbus...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Columbus, Ohio, United States",2019-05-05 08:19:28.598946
936,Full-time,Computer SoftwareInformation Technology and Se...,EngineeringInformation TechnologyScience,Mid-Senior level,Securus Technologies,Job description\nOverview\nJob Purpose:\nParti...,Data Scientist\nSecurus TechnologiesSouthborou...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Southborough, Massachusetts, United States",2019-05-05 08:19:31.464757
937,Full-time,Oil & Energy,EngineeringInformation Technology,Not Applicable,Marathon Petroleum Corporation,"Job description\nLocation Name: Findlay, OH\nL...",Data Scientist\nMarathon Petroleum Corporation...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Findlay, OH, US",2019-05-05 08:19:32.969875
938,Full-time,"Staffing and RecruitingHealth, Wellness and Fi...",EngineeringInformation Technology,Entry level,VCA Animal Hospitals,"Job description\nCompany Info: VCA Inc. owns, ...",Data Scientist\nVCA Animal HospitalsLos Angele...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Los Angeles, CA, US",2019-05-05 08:19:34.487134
939,Full-time,Computer SoftwareInformation Technology and Se...,ConsultingCustomer ServiceEngineering,Not Applicable,Dassault Systèmes,Job description\n\nImagine New Horizons..........,"Data Scientist\nDassault SystèmesBroomfield, C...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Broomfield, CO, US",2019-05-05 08:19:36.070196
940,Full-time,Computer Software,Information Technology,Mid-Senior level,The Cypress Group,Job description\nMy client is a leader in data...,Data Scientist\nThe Cypress GroupGreater New Y...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,Greater New York City Area,2019-05-05 08:19:37.669512
941,Full-time,Financial Services,AnalystEngineeringOther,Associate,West Creek,Job description\nAbout the role\nDo you have a...,"Data Scientist\nWest CreekRichmond, Virginia, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Richmond, Virginia, United States",2019-05-05 08:19:39.331254
942,Full-time,Management ConsultingHospitalityFood & Beverages,Information TechnologyResearchBusiness Develop...,Entry level,Revenue Management Solutions,Job description\n**THIS POSITION DOES NOT PROV...,Data Scientist\nRevenue Management Solutions77...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"777 S Harbour Island Blvd, Tampa, Florida 33602",2019-05-05 08:19:40.882737
943,Full-time,AccountingManagement Consulting,EngineeringInformation Technology,Not Applicable,Grant Thornton LLP,Job description\nGrant Thornton is seeking a S...,"Data Scientist\nGrant Thornton LLPWashington, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:19:43.061015
944,Full-time,Computer GamesInformation Technology and Servi...,Strategy/PlanningAnalystInformation Technology,Not Applicable,Electronic Arts (EA),Job description\nElectronic Arts Inc. is a lea...,Data Scientist\nElectronic Arts (EA)Redwood Ci...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Redwood City, CA, US",2019-05-05 08:19:44.528424
945,Full-time,Retail,Marketing,Entry level,7-Eleven,Job description\n\n\nDevelop machine learning ...,"Data Scientist\n7-ElevenIrving, TX, US\n2 week...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Irving, TX, US",2019-05-05 08:19:46.109736
946,Full-time,Automotive,Engineering,Associate,AVL,Job description\nWe are looking for a passiona...,"Data Scientist\nAVL47603 Halyard Dr, Plymouth,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"47603 Halyard Dr, Plymouth, Michigan 48170",2019-05-05 08:19:47.534398
947,Full-time,AutomotiveStaffing and RecruitingPharmaceuticals,EngineeringInformation Technology,Entry level,Make Us Digital,Job description\nJob Description Manager inter...,Data Scientist\nMake Us DigitalMenomonee Falls...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Menomonee Falls, WI, US",2019-05-05 08:19:49.215427
948,Full-time,Information Technology and ServicesComputer So...,EngineeringInformation Technology,Entry level,Techno Comp - India,Job description\nSUB CONTRACTING COMPANIESSUB ...,"Data Scientist\nTechno Comp - IndiaIrving, TX,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Irving, TX, US",2019-05-05 08:19:50.812236
949,Full-time,Online MediaComputer SoftwareInternet,EngineeringInformation Technology,Entry level,Advance Digital,"Job description\nTylt, a social polling site u...","Data Scientist\nAdvance DigitalNew York City, ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"New York City, NY, US",2019-05-05 08:19:52.478229
950,Full-time,Hospital & Health Care,ResearchAnalystInformation Technology,Not Applicable,HCA Healthcare,Job description\nDescription\n\nSHIFT: No Week...,Senior Data Research Scientist\nHCA Healthcare...,https://www.linkedin.com/jobs/view/senior-data...,Senior Data Research Scientist,"Nashville, TN, US",2019-05-05 08:19:54.320945
951,Full-time,Computer SoftwareFinancial Services,EngineeringScienceResearch,Mid-Senior level,Nomis Solutions,Job description\nData Scientist\nWho We Are & ...,Data Scientist\nNomis SolutionsSan Francisco B...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,San Francisco Bay Area,2019-05-05 08:19:55.885331
952,Full-time,Computer SoftwareComputer NetworkingInformatio...,EngineeringInformation Technology,Entry level,Confluent,"Job description\nDubbed an ""open-source unicor...","Data Scientist\nConfluentPalo Alto, CA, US\n3 ...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Palo Alto, CA, US",2019-05-05 08:19:57.586247
953,Contract,Utilities,EngineeringInformation Technology,Mid-Senior level,Pacific Data Integrators,Job description\nPDI provides services across ...,Data Scientist\nPacific Data IntegratorsSan Fr...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"San Francisco, CA, US",2019-05-05 08:19:59.116917
954,Full-time,Civil EngineeringConstructionOil & Energy,EngineeringInformation Technology,Not Applicable,Jacobs,Job description\nDescription\n\n“Jacobs Nation...,"Data Scientist\nJacobsWashington, D.C., DC, US...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Washington, D.C., DC, US",2019-05-05 08:20:00.661568
955,Full-time,Computer Software,Engineering,Mid-Senior level,Infinia ML,Job description\nInfinia ML is seeking a Data ...,"Data Scientist\nInfinia MLRaleigh-Durham, Nort...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Raleigh-Durham, North Carolina Area",2019-05-05 08:20:02.234750
956,Internship,Defense & SpaceComputer SoftwareComputer & Net...,EngineeringInformation Technology,Internship,IOMAXIS,Job description\nPreference Will Be Given To A...,"Data Scientist/ AI Intern\nIOMAXISSpringfield,...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist/ AI Intern,"Springfield, VA, US",2019-05-05 08:20:03.803392
957,Full-time,Computer SoftwareHospital & Health CarePharmac...,Information TechnologyEngineeringScience,Mid-Senior level,Komodo Health,Job description\nWe are looking for a Data Sci...,Data Scientist\nKomodo HealthSan Francisco Bay...,https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,San Francisco Bay Area,2019-05-05 08:20:05.675200
958,Full-time,Higher EducationFinancial ServicesAccounting,EngineeringInformation Technology,Entry level,Saint Augustine’s University,Job description\nJob Description\n\nAssociate ...,Associate Data Scientist\nSaint Augustine’s Un...,https://www.linkedin.com/jobs/view/associate-d...,Associate Data Scientist,"Raleigh, NC, US",2019-05-05 08:20:07.386197
959,Full-time,Marketing and Advertising,Marketing,Mid-Senior level,GroupM,"Job description\nData Scientist -Bend, OR\n G...","Data Scientist\nGroupMBend, Oregon, United Sta...",https://www.linkedin.com/jobs/view/data-scient...,Data Scientist,"Bend, Oregon, United States",2019-05-05 08:20:09.005199
960,Contract,Automotive,Information Technology,Mid-Senior level,Hays,"Job description\nData Scientist, Permanent, Re...","Data Scientist (TensorFlow, SyntaxNet)\nHaysWa...",https://www.linkedin.com/jobs/view/data-scient...,"Data Scientist (TensorFlow, SyntaxNet)",Washington D.C. Metro Area,2019-05-05 08:20:11.447336
961,Full-time,TelecommunicationsBroadcast MediaInternet,Information Technology,Associate,Cox Communications,Job description\nCox Communications is looking...,Senior Data Scientist\nCox CommunicationsAtlan...,https://www.linkedin.com/jobs/view/senior-data...,Senior Data Scientist,"Atlanta, GA, US",2019-05-05 08:20:13.218576

In [75]:
df.groupby('company_name').company_name.count().sort_values(ascending=False)

company_name
Big Cloud                                       6
O'Reilly Media                                  5
Aetna, a CVS Health Company                     4
Bravo Consulting                                4
Amiga Informatics                               4
Verizon                                         4
Capital One                                     4
Xometry                                         3
Infosys Public Services                         3
Infosys                                         3
Proofpoint                                      3
Bethesda Softworks                              3
Kwai Inc.                                       3
Primus Software Corporation                     3
Mastech                                         3
Apex Life Sciences                              3
Apex Systems                                    3
PADI                                            3
BIND                                            3
WeWork                                          3
Regions Bank                                    3
BrainWorks                                      3
Rubicon Project                                 3
Numerator                                       3
DCS Corp                                        3
eFinancialCareers                               3
Havenly                                         3
CALNET, Inc.                                    3
Liberty Personnel Services, Inc.                3
Integrity Applications Incorporated             3
                                               ..
Nielsen                                         1
Nexidia                                         1
Nexant                                          1
Newmarket Services Corporation                  1
NewWave Technologies Inc.                       1
OneGlobe                                        1
OneGlobe LLC                                    1
Onica                                           1
Palo Alto Networks                              1
Philips                                         1
Phenom People                                   1
Perspecta LTD                                   1
Perspecta                                       1
Penn State University                           1
Pearson                                         1
PayPal                                          1
Parkview Health                                 1
Park Computer Systems Inc.                      1
PalletOne, Inc                                  1
Onyx CenterSource                               1
Pacific Northwest National Laboratory - PNNL    1
Pacific Data Integrators                        1
PRADEEP COMPANY                                 1
POS REPORTS FOR HOMEDEPOT.COM                   1
POS Portal                                      1
Osmo                                            1
Optimus - People. Solutions. Delivered.         1
Optimal Energy Plus                             1
Onyx Government Services                        1
1Life Software                                  1
Name: company_name, Length: 837, dtype: int64

In [8]:
master_df.groupby('location').location.count().sort_values(ascending=False)

location
New York City, NY, US                                         6
New York, New York                                            5
San Francisco, CA, US                                         5
Seattle, WA, US                                               3
Austin, TX, US                                                3
Chicago, IL, US                                               3
Washington, D.C., DC, US                                      3
San Francisco Bay Area                                        3
Atlanta, GA, US                                               2
Greater Atlanta Area                                          2
South San Francisco, CA, US                                   2
San Francisco, California, United States                      2
San Francisco, California                                     2
Sunnyvale, CA, US                                             2
New York, New York, United States                             2
Arlington, VA, US                                             2
Los Angeles, CA, US                                           2
Palo Alto, California                                         2
Akron, OH, US                                                 2
Atlanta, Georgia                                              2
Philadelphia, PA, US                                          2
Charlotte, NC, US                                             2
Buffalo, NY, US                                               1
Broomfield, CO, US                                            1
Dallas, TX, US                                                1
Cambridge, MA, US                                             1
Charlotte, North Carolina Area                                1
Eden Prairie, MN, US                                          1
Denver, CO, US                                                1
College Station, TX, US                                       1
                                                             ..
Redwood City, CA, US                                          1
Riverwoods, IL, US                                            1
Rolling Meadows, Illinois, United States                      1
San Diego, CA, US                                             1
San Jose, CA, US                                              1
Hartford, Connecticut Area                                    1
San Ramon, CA, US                                             1
Santa Clara, CA, US                                           1
South Portland, ME, US                                        1
Tampa, FL, US                                                 1
Tysons, Virginia, US                                          1
Washington D.C. Metro Area                                    1
Raritan, NJ, US                                               1
Plano, TX, US                                                 1
Phoenix, AZ, US                                               1
Parkville, MO, US                                             1
Omaha, Nebraska                                               1
Northville, MI, US                                            1
Nashville, Tennessee, United States                           1
Nashville, TN, US                                             1
Mountain View, California, United States                      1
Manhattan, New York, United States                            1
Louisville, CO, US                                            1
Los Angeles, California, United States                        1
Jacksonville, Florida, United States                          1
Irwindale, CA, US                                             1
Irving, TX, US                                                1
Hoboken, NJ, US                                               1
Hillsboro, OR, US                                             1
1001 E Hector Street Suite 230, Conshohocken, PA 19428, US    1
Name: location, Length: 83, dtype: int64

In [88]:
# driver = webdriver.Chrome(executable_path=r'/usr/local/bin/chromedriver')
# url = 'https://www.linkedin.com/jobs/data-scientist-jobs-united-states?location=United%20States&pageNum=1&locationId=us%3A0&keywords=data%20scientist&position=1&start={page_num}&count=25&trk=jobs_jserp_pagination_2'.format(page_num = 0*25)
# driver.get(url)

In [89]:
ScrapeJobData(1)

In [78]:
len(master_df)

0

In [25]:
driver.back()

In [10]:
job_dictionary.keys()

dict_keys(['job_title', 'company_name', 'location', 'Seniority level', 'Employment type', 'Job function', 'Industries', 'description'])

In [11]:
master_df

Empty DataFrame
Columns: [job_title, company_name, location, Seniority level, Employment type, Job function, Industries, description]
Index: []

,job_title,company_name,location,Seniority level,Employment type,Job function,Industries,description
0,Data Scientist,The Select Group,"Charlotte, NC",Mid-Senior level,Contract,Information Technology,Computer NetworkingInformation Technology and ...,Job description\nDATA SCIENTIST\nAn industry l...